Babel==2.2.0
CommonMark==0.5.4
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Pygments==2.0.2
Sphinx==1.3.4
Unidecode==0.04.18
alabaster==0.7.7
coverage==4.0.3
docutils==0.12
epydoc==3.0.1
epyparse==0.2.5
flake8==2.2.4
hacking==0.10.2
mccabe==0.2.1
pbr==1.8.1
pep8==1.5.7
py==1.4.31
pyflakes==0.8.1
pytest==2.8.5
pytest-cov==2.2.0
pytest-cover==3.0.0
pytest-coverage==0.0
pytz==2015.7
recommonmark==0.4.0
requests==2.9.1
six==1.10.0
snowballstemmer==1.2.1
sphinx-autoapi==0.4.0
sphinx-rtd-theme==0.1.9
sphinxcontrib-dotnetdomain==0.4
sphinxcontrib-golangdomain==0.1.3dev
wsgiref==0.1.2
